.NavBar {
    display: flex;
    justify-content: flex-end;
   
    background-color: #ED2237;
    padding: .5rem;
    box-shadow: .2rem .2rem .2rem grey
  }

  .NavBar-link {
    margin: 0 .1rem;
    color: white;
    font-family: 'Poppins', sans-serif
    
  }
  
  .NavBar-welcome {
    color: rgb(206, 33, 33);
  }

  .NavBar-box {
    color: rgb(206, 33, 33);
  }

 
  .logo {
    width: 6rem;
    height: 3rem;
    margin-right: 58rem;
  }

  .NavBar-l {
    color: white;
   
  }