.NavBar {
    display: flex;
    justify-content: flex-end;
   
    background-color: rgb(206, 33, 33);
    padding: .8rem;
  }

  .NavBar-link {
    margin: 0 10px;
    color: white;
    font-family: 'Poppins', sans-serif
    
  }
  
  .NavBar-welcome {
    color: rgb(206, 33, 33);
  }

  .NavBar-box {
    color: rgb(206, 33, 33);
  }

  .navLine {
    width: 83%;
    border: .1rem solid rgb(206, 33, 33) ;
  }