.SignupPage {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .signBtn {
    width: 7rem;
    background-color: rgb(206, 33, 33);
    border-radius: .2rem;
  }

  .signLink {
    color: rgb(206, 33, 33);
    margin-left: .2rem;
  }