.linkDiv {
    background-color: rgb(206, 33, 33);
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
}

.link {
    margin: 1rem;
    color: white;
}

.postDiv {
    margin: 3rem;
}

.post {
    margin: 4rem;
}

.delButton {
    color: white;
    background-color: rgb(206, 33, 33);
    width: 4rem;
    height: 1.5rem;
    border-radius: .5rem;
    margin-top: .5rem;
    margin-left: .4rem;
}

.spaceBox {
    margin-top: 2rem;
}