.linkDiv {
    background-color: #ED2237;
    padding: .1rem;
    display: flex;
    justify-content: flex-end;
    box-shadow: 2px 2px 2px grey
}

.link {
    margin: 1rem;
    color: white;
}

.postDiv {
    margin: 3rem;
}

.post {
    margin: 4rem;
}

.delButton {
    color: white;
    background-color: rgb(206, 33, 33);
    width: 2rem;
    height: 1.3rem;
    border-radius: .3rem;
 
}

.spaceBox {
    margin-top: 2rem;
}

.tableBtn {
    text-align: center;
}

.tableLink {
    text-align: center;
    
}

.removeOrEdit {
    text-align: center;
}

.linkColor {
    color: indianred;
}