.linkDiv {
    background-color: rgb(206, 33, 33);
    padding: .1rem;
    display: flex;
    justify-content: flex-end;
}

.link {
    margin: 1rem;
    color: white;
}

.postDiv {
    margin: 3rem;
}

.post {
    margin: 4rem;
}

.delButton {
    color: white;
    background-color: rgb(206, 33, 33);
    width: 2rem;
    height: 1.3rem;
    border-radius: .3rem;
 
}

.spaceBox {
    margin-top: 2rem;
}

.tableBtn {
    text-align: center;
}