.loginBtn {
  border-radius: .2rem;
  margin: .5rem;
  width: 12rem;
  height: 1.8rem;
  color: white;
  background-color: rgb(184, 38, 38);
}

button:hover {
  cursor: pointer;
}

#loginDiv {
  margin-top: 10rem;
  border: solid rgb(170, 169, 169) .1rem;
  display: inline-block;
  padding: 3rem;
  border-radius: .5rem;
  box-shadow: .1rem .3rem 1rem .2rem grey;
  width: 12rem;
  height: 10rem;
}

header {
  font-size: larger;
  margin-top: -1rem;
  color: rgb(184, 38, 38);
}

.login {
  margin: .5rem;
  width: 12rem;
  height: 1.5rem;
  border-radius: .2rem;
  font-size: .8rem;
}

#userLink {
  text-decoration: none;
  color: #F01D30;
}

#logoBox {
  display: flex;
  justify-content: left;
  background-color: #F01D30;
}

#loginLogo {
  width: 7rem;
}

#login-wrapper {
 text-align: center;
 
}

#loginImg {
  margin-top: 13rem;
}

#managerBox {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 2rem 0 0;
}

#managerLink {
  color:  #F01D30;
}


