.postContainer {
    text-align: center;
    /* margin-top: 8rem; */
}

.infoBox {
    background-color: #ED2237;
    margin-top: 0;
    color: white;
    text-align: center;
    box-shadow: .2rem .2rem .2rem grey
}

.cancelBtn {
    width: 7rem;
    background-color: rgb(206, 33, 33);
    border-radius: .2rem;
}

.cancel {
    color: rgb(206, 33, 33);
    margin-left: .2rem;
}